<div *ngIf="!isLoggedIn" style="width: 600px; max-width: 100%; margin: auto; margin-top: 10%;">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Please Login to View this Data</mat-card-title>
    </mat-card-header>
    <mat-card-content>
    <mat-list class="full">
      <mat-list-item>
        <mat-form-field>
          <input matInput #username type="text" placeholder="username">
        </mat-form-field>
      </mat-list-item>
      <mat-list-item>
        <mat-form-field>
          <input matInput #password type="password" placeholder="password">
        </mat-form-field>
      </mat-list-item>
    </mat-list>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="login(username.value, password.value)">Login</button>
    </mat-card-actions>
  </mat-card>

</div>

<div style="display: flex; flex-wrap: wrap-reverse" *ngIf="isLoggedIn">
  <div style="width: 300px" class="full">
    <mat-action-list>
      <mat-list-item (click)="addBp()">
        <mat-icon matListItemIcon>add</mat-icon>
        <span>Create</span>
      </mat-list-item>
    </mat-action-list>
    <mat-list>
      <ng-container *ngIf="isCreateMode">
        <mat-list-item>
          <mat-form-field>
            <input matInput type="text" #date placeholder="date" />
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          <mat-form-field>
            <input matInput type="text" #time placeholder="time" />
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          <mat-form-field>
            <input matInput type="number" #systolic placeholder="systolic" />
          </mat-form-field>
        </mat-list-item>
        <mat-list-item>
          <mat-form-field>
            <input matInput type="number" #diastolic placeholder="diastolic" />
          </mat-form-field>
        </mat-list-item>
        <mat-list-item align="end">
          <button (click)="isCreateMode = false" mat-button>
            <mat-icon matListItemIcon>close</mat-icon>
            <span>Cancel</span>
          </button>
          <button
          color="accent"
            (click)="
              save(date.value, time.value, +systolic.value, +diastolic.value)
            "
            mat-raised-button
          >
            <mat-icon matListItemIcon>save</mat-icon>
            <span>Save</span>
          </button>
        </mat-list-item>
      </ng-container>
    </mat-list>
    <mat-action-list>
      <a
        *ngFor="let bp of bpData"
        [routerLink]="[bp.id]"
        mat-list-item
        [activated]="selectedId === bp.id"
        [class.active-route]="selectedId === bp.id"
        (click)="selectedId = bp.id"
        >{{ bp.date }}</a
      >
    </mat-action-list>
  </div>
  <div style="flex: auto; padding: 1rem">
    <router-outlet></router-outlet>
    <mat-card style="max-width: 900px">
      <mat-card-header>
        <mat-card-title>Averages</mat-card-title>
        <mat-card-subtitle
          >Category: {{ bpAverages?.category }}</mat-card-subtitle
        >
        <mat-card-subtitle
          >Systolic: {{ bpAverages?.systolic }}</mat-card-subtitle
        >
        <mat-card-subtitle
          >Diastolic: {{ bpAverages?.diastolic }}</mat-card-subtitle
        >
      </mat-card-header>
      <canvas *ngIf="!!chartData" baseChart [data]="chartData" [type]="'line'">
      </canvas>
    </mat-card>
  </div>
</div>
